<div id="dmp-content">
  <section id="sec-data-collection" class="dmp-section">
    <h2>Section A: Description of data – reuse of existing data and/or production of new data</h2>

    {% include "parts/questions/01-what-data.html.j2" with context %}
    {% include "parts/questions/02-how-data.html.j2" with context %}

  </section>
  <section id="sec-docs-metadata" class="dmp-section">
    <h2>Section B: Documentation and data quality</h2>

    {% include "parts/questions/03-docs-metadata.html.j2" with context %}
  </section>
  <section id="sec-storage-backup" class="dmp-section">
    <h2>Section C: Storage and Backup</h2>

    {% include "parts/questions/06-store-backup.html.j2" with context %}
    {% include "parts/questions/07-access-security.html.j2" with context %}
  </section>
  <section id="sec-ethics-legal" class="dmp-section">
    <h2>Section D: Legal and ethical aspects</h2>

    {% include "parts/questions/04-ethical-issues.html.j2" with context %}
    {% include "parts/questions/05-copyright-ipr.html.j2" with context %}
  </section>

  <section id="sec-sharing-preservation" class="dmp-section">
    <h2>Section E: Accessibility and long-term storage</h2>

    {% include "parts/questions/10-how-share.html.j2" with context %}
    {% include "parts/questions/11-restrictions.html.j2" with context %}
    {% include "parts/questions/08-which-longterm.html.j2" with context %}
    {% include "parts/questions/09-longterm-plan.html.j2" with context %}
  </section>
  <section id="sec-data-sharing" class="dmp-section">
  </section>
  <section id="sec-responsibilities-resources" class="dmp-section">
    <h2>Section F: Responsibilities and Resources</h2>

    {% include "parts/questions/12-dm-responsible.html.j2" with context %}
    {% include "parts/questions/13-required-resources.html.j2" with context %}
  </section>
</div>
