<div id="q-how-share" class="question">
  <h3>9. How will you share the data?</h3>

  <div class="answer">
    {# Published datasets #}
    {%- set publishedDataPath = [uuids.preservingCUuid, uuids.publishedDataQUuid]|reply_path -%}
    {%- set publishedDataCount = repliesMap[publishedDataPath]|reply_int_value -%}
    {%- if publishedDataCount > 0 -%}
      <ul>
      {%- for i in range(publishedDataCount) -%}
        {%- set pathPrefix = [publishedDataPath, i]|reply_path -%}
        {%- set publishedDataName = repliesMap[[pathPrefix, uuids.publishedDataNameQUuid]|reply_path]|reply_str_value -%}
        {%- set publishedDataLicensePath = [pathPrefix, uuids.publishedDataLicenseQUuid]|reply_path -%}
        {%- set publishedDataLicenseAUuid = repliesMap[publishedDataLicensePath]|reply_str_value -%}
        {%- set publishedDataDOIPath = [pathPrefix, uuids.publishedDataDOIQUuid]|reply_path -%}
        {%- set publishedDataDOIAUuid = repliesMap[publishedDataDOIPath]|reply_str_value -%}
        {%- if publishedDataLicenseAUuid or (publishedDataDOIAUuid == uuids.publishedDataDOIYesAUuid) -%}
          <li>
            <strong>{{ publishedDataName if publishedDataName else "(no name given)" }}</strong>
            {%- if publishedDataLicenseAUuid == uuids.publishedDataLicenseCC0AUuid %}
              <span class="separator">&ndash;</span> freely available for any use (public domain or CC0).
            {%- elif publishedDataLicenseAUuid == uuids.publishedDataLicenseCCBYAUuid %}
              <span class="separator">&ndash;</span> freely available with obligation to quote the source (e.g. CC-BY).
            {%- elif publishedDataLicenseAUuid == uuids.publishedDataLicenseRestrictAUuid -%}
              {%- set licenseRestrictConditionsPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictConditionsQUuid]|reply_path -%}
              {%- set licenseRestrictConditions = repliesMap[licenseRestrictConditionsPath]|reply_str_value -%}
              {%- set licenseRestrictAccessPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictAccessQUuid]|reply_path -%}
              {%- set licenseRestrictAccessAUuid = repliesMap[licenseRestrictAccessPath]|reply_str_value -%}
              {%- set licenseRestrictMetadataPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictMetadataQUuid]|reply_path -%}
              {%- set licenseRestrictMetadataAUuid = repliesMap[licenseRestrictMetadataPath]|reply_str_value %}
              <span class="separator">&ndash;</span> available under some restrictions, which we will follow in our project{{ ": " ~ licenseRestrictConditions|dot if licenseRestrictConditions else "." }}
              {%- if licenseRestrictAccessAUuid == uuids.licenseRestrictAccessRequestAUuid %}
                Re-users will be able to get access by request to the contact person.
              {%- elif licenseRestrictAccessAUuid == uuids.licenseRestrictAccessCommitteeAUuid %}
                Re-users will be able to get access through a <em>Data Access Committee</em> for the project.
              {%- elif licenseRestrictAccessAUuid == uuids.licenseRestrictAccessAnotherAUuid -%}
                {%- set licenseRestrictAccessAnotherPath = [licenseRestrictAccessPath, uuids.licenseRestrictAccessAnotherAUuid, uuids.licenseRestrictAccessAnotherQUuid]|reply_path -%}
                {%- set licenseRestrictAccessAnother = repliesMap[licenseRestrictAccessAnotherPath]|reply_str_value %}
                Re-users will be able to get access through a specialized process{{ ": " ~ licenseRestrictAccessAnother|dot if licenseRestrictAccessAnother else "." }}
              {%- endif -%}
              {%- if licenseRestrictMetadataAUuid == uuids.licenseRestrictMetadataYesAUuid %}
                The conditions will be published as part of open metadata.
              {%- endif -%}
              {%- if publishedDataDOIAUuid == uuids.publishedDataDOIYesAUuid -%}
                {%- set publishedDataDOIYesWhatPath = [publishedDataDOIPath, uuids.publishedDataDOIYesAUuid, uuids.publishedDataDOIYesWhatQUuid]|reply_path -%}
                {%- set publishedDataDOIYesWhat = repliesMap[publishedDataDOIYesWhatPath]|reply_str_value -%}
                {%- if publishedDataDOIYesWhat %}
                  The DOI for this data set is <a href="https://doi.org/{{ publishedDataDOIYesWhat }}" target="_blank">{{ publishedDataDOIYesWhat }}</a>.
                {%- else %}
                  We will get a DOI for this data set.
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}

    <p>Information about used repositories (i.e. where will potential users find out about the data) is provided in Section E, Question 12.</p>

    <p>Embargo on the data is described in Section D, Question 8, and Section E, Question 10.</p>

    {# Published software #}
    {%- set publishedSWPath = [uuids.preservingCUuid, uuids.publishedSWQUuid]|reply_path -%}
    {%- set publishedSWCount = repliesMap[publishedSWPath]|reply_int_value -%}
    {%- if publishedSWCount > 0 -%}
      <ul>
      {%- for i in range(publishedSWCount) -%}
        {%- set pathPrefix = [publishedSWPath, i]|reply_path -%}
        {%- set publishedSWName = repliesMap[[pathPrefix, uuids.publishedSWNameQUuid]|reply_path]|reply_str_value -%}
        {%- set publishedSWLicensePath = [pathPrefix, uuids.publishedSWLicenseQUuid]|reply_path -%}
        {%- set publishedSWLicenseAUuid = repliesMap[publishedSWLicensePath]|reply_str_value -%}
        {%- set publishedSWDOIPath = [pathPrefix, uuids.publishedSWDOIQUuid]|reply_path -%}
        {%- set publishedSWDOIAUuid = repliesMap[publishedSWDOIPath]|reply_str_value -%}
        {%- if publishedSWLicenseAUuid or (publishedSWDOIAUuid == uuids.publishedSWDOIYesAUuid) -%}
          <li>
            <strong>{{ publishedSWName if publishedSWName else "(no name given)" }}</strong>
            {%- if publishedSWLicenseAUuid == uuids.publishedSWLicenseYesAUuid -%}
              {%- set publishedSWLicenseWhichPath = [publishedSWLicensePath, uuids.publishedSWLicenseYesAUuid, uuids.publishedSWLicenseYesQUuid]|reply_path -%}
              {%- set publishedSWLicenseWhichAUuid = repliesMap[publishedSWLicenseWhichPath]|reply_str_value -%}
                {%- if publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseGnuAUuid %}
                  <span class="separator">&ndash;</span> GNU license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseMITAUuid %}
                  <span class="separator">&ndash;</span> MIT license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseApacheAUuid %}
                  <span class="separator">&ndash;</span> Apache license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseOtherAUuid %}
                  {%- set publishedSWLicenseWhichOtherPath = [publishedSWLicenseWhichPath, uuids.publishedSWLicenseOtherAUuid, uuids.publishedSWLicenseOtherWhichQUuid]|reply_path -%}
                  {%- set publishedSWLicenseWhichOther = repliesMap[publishedSWLicenseWhichOtherPath]|reply_str_value -%}
                  {%- if publishedSWLicenseWhichOther %}
                    <span class="separator">&ndash;</span> license: {{publishedSWLicenseWhichOther|dot}}
                  {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            {%- if publishedDataDOIAUuid == uuids.publishedDataDOIYesAUuid -%}
              {%- set publishedDataDOIYesWhatPath = [publishedDataDOIPath, uuids.publishedDataDOIYesAUuid, uuids.publishedDataDOIYesWhatQUuid]|reply_path -%}
              {%- set publishedDataDOIYesWhat = repliesMap[publishedDataDOIYesWhatPath]|reply_str_value -%}
              {%- if publishedDataDOIYesWhat %}
                The DOI for this data set is <a href="https://doi.org/{{ publishedDataDOIYesWhat }}" target="_blank">{{ publishedDataDOIYesWhat }}</a>.
              {%- else %}
                We will get a DOI for this data set.
              {%- endif -%}
            {%- endif -%}
          {%- endif -%}
      </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</div>
