<div id="q-how-share" class="question">
  <h3>9. How will you share the data?</h3>

  <div class="answer">
    {# Produced datasets #}
    {%- set producedDataPath = [uuids.preservingCUuid, uuids.producedDataQUuid]|reply_path -%}
    {%- set producedDataCount = repliesMap[producedDataPath]|reply_int_value -%}
    {%- if producedDataCount > 0 -%}
      <ul>
      {%- for i in range(producedDataCount) -%}
        {%- set pathPrefix = [producedDataPath, i]|reply_path -%}
        {%- set producedDataName = repliesMap[[pathPrefix, uuids.producedDataNameQUuid]|reply_path]|reply_str_value -%}
        {# Only published #}
        {%- set isPublishedDataPath = [pathPrefix, uuids.isPublishedDataQUuid]|reply_path -%}
        {%- set isPublishedDataAUuid = repliesMap[isPublishedDataPath]|reply_str_value -%}
        {% if isPublishedDataAUuid == uuids.isPublishedDataYesAUuid %}
          <li>
            <strong>{{ producedDataName if producedDataName else "(no name given)" }}</strong>
            {# Identifiers #}
            {# Could be a problem, do not think we have this question about identifier type #}
            {% set identifiersPath = [pathPrefix, uuids.producedDataIdentifiersQUuid]|reply_path -%}
            {%- set identifiersCount = repliesMap[identifiersPath]|reply_int_value -%}
            {%- if identifiersCount > 0 -%}
            <br>The dataset has the following identifiers:
            <ul>
            {%- for j in range(identifiersCount) -%}
              {%- set identifierPrefix = [identifiersPath, j]|reply_path -%}
              {%- set identifierTypePath = [identifierPrefix, uuids.dataIdentifierTypeQUuid]|reply_path -%}
              {%- set identifierTypeAUuid = repliesMap[identifierTypePath]|reply_str_value -%}
              {%- set identifierValuePath = [identifierPrefix, uuids.dataIdentifierIdenfitierQUuid]|reply_path -%}
              {%- set identifierValue = repliesMap[identifierValuePath]|reply_str_value -%}
              {%- if identifierTypeAUuid == uuids.dataIdentifierTypeHandleAUuid -%}
                <li>Handle: <strong>{{ identifierValue }}</strong></li>
              {%- elif identifierTypeAUuid == uuids.dataIdentifierTypeDoiAUuid -%}
                <li>DOI: <strong><a href="https://doi.org/{{ identifierValue }}">{{ identifierValue }}</a></strong></li>
              {%- elif identifierTypeAUuid == uuids.dataIdentifierTypeArkAUuid -%}
                <li>ARK: <strong>{{ identifierValue }}</strong></li>
              {%- elif identifierTypeAUuid == uuids.dataIdentifierTypeUrlAUuid -%}
                <li>URL: <strong><a href="{{ identifierValue }}">{{ identifierValue }}</a></strong></li>
              {%- elif identifierTypeAUuid == uuids.dataIdentifierTypeOtherAUuid -%}
                {%- set identifierType = repliesMap[[identifierTypePath, uuids.dataIdentifierTypeOtherAUuid, uuids.dataIdentifierTypeOtherTypeQUuid]|reply_path]|reply_str_value -%}
                <li>{{ identifierType }}: <strong>{{ identifierValue }}</strong></li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
            {%- endif %}
            {# Distributions #}
            {% set distrosPath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedDistrosQUuid]|reply_path -%}
            {%- set distrosCount = repliesMap[distrosPath]|reply_int_value -%}
            {%- if distrosCount > 0 -%}
              <br>The distributions will be available as follows:
              <ul>
              {%- for j in range(distrosCount) -%}
                {%- set distroPrefix = [distrosPath, j]|reply_path -%}
                {%- set distroRepositoryKindPath = [distroPrefix, uuids.publishedDataRepositoryKindQUuid]|reply_path -%}
                {%- set distroRepositoryKindAUuid = repliesMap[distroRepositoryKindPath]|reply_str_value -%}
                {%- set distroSharePath = [distroPrefix, uuids.publishedDistroShareQUuid]|reply_path -%}
                {%- set distroShareAUuid = repliesMap[distroSharePath]|reply_str_value -%}
                {%- if distroRepositoryKindAUuid and distroShareAUuid -%}
                  <li>
                  {%- if distroShareAUuid == uuids.publishedDistroShareOpenAUuid %}
                    Open (shared with anyone)
                  {%- elif distroShareAUuid == uuids.publishedDistroShareSharedAUuid %}
                    Shared with a predefined list of people
                  {%- elif distroShareAUuid == uuids.publishedDistroShareClosedAUuid %}
                    Closed (not meant for sharing)
                  {%- endif %}
                  {% if distroRepositoryKindAUuid == uuids.publishedDataRepositoryDomainSpecificAUuid %}
                    using a domain-specific repository
                    {%- set domainSpecificRepoNamePath = [distroRepositoryKindPath, uuids.publishedDataRepositoryDomainSpecificAUuid, uuids.domainSpecificRepoNameQUuid]|reply_path -%}
                    {%- set domainSpecificRepoNameReply = repliesMap[domainSpecificRepoNamePath] -%}
                    {%- if domainSpecificRepoNameReply -%}
                      : {{ macros.integrationValue(domainSpecificRepoNameReply, uuids.domainSpecificRepoNameQUuid) }}.
                    {%- else -%}.
                    {% endif -%}
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositoryNationalAUuid %}
                    using our national repository.
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositoryInstitutionalAUuid %}
                    using our institutional repository.
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositorySpecialAUuid %}
                    using a special-purpose repository for the project.
                  {%- endif -%}
                  {# Licenses #}
                  {%- set licensesPath = [distroPrefix, uuids.publishedDataLicensesQUuid]|reply_path -%}
                  {%- set licensesCount = repliesMap[licensesPath]|reply_str_value -%}
                  {%- if licensesCount > 0 %}
                    The distribution will be available under the following {{ "licenses" if licensesCount > 1 else "license" }}:
                    <ul>
                    {%- for k in range(licensesCount) -%}
                      <li>
                      {%- set licensePrefix = [licensesPath, k]|reply_path -%}
                      {%- set licenseStartPath = [licensePrefix, uuids.publishedDataLicenseStartQUuid]|reply_path -%}
                      {%- set licenseStart = repliesMap[licenseStartPath]|reply_str_value -%}
                      {% if licenseStart %}
                        Starting {{ licenseStart }}:
                      {% endif %}

                      {%- set publishedDataLicensePath = [licensePrefix, uuids.publishedDataLicenseQUuid]|reply_path -%}
                      {%- set publishedDataLicenseAUuid = repliesMap[publishedDataLicensePath]|reply_str_value -%}
                      {%- if publishedDataLicenseAUuid == uuids.publishedDataLicenseCC0AUuid %}
                        Freely available for any use (public domain or CC0).
                      {%- elif publishedDataLicenseAUuid == uuids.publishedDataLicenseCCBYAUuid %}
                        Freely available with obligation to quote the source (e.g. CC-BY).
                      {%- elif publishedDataLicenseAUuid == uuids.publishedDataLicenseRestrictAUuid -%}
                        {%- set licenseRestrictConditionsPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictConditionsQUuid]|reply_path -%}
                        {%- set licenseRestrictConditions = repliesMap[licenseRestrictConditionsPath]|reply_str_value -%}
                        {%- set licenseRestrictLinkPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictLinkQUuid]|reply_path -%}
                        {%- set licenseRestrictLink = repliesMap[licenseRestrictLinkPath]|reply_str_value -%}
                        {%- set licenseRestrictAccessPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictAccessQUuid]|reply_path -%}
                        {%- set licenseRestrictAccessAUuid = repliesMap[licenseRestrictAccessPath]|reply_str_value -%}
                        {%- set licenseRestrictMetadataPath = [publishedDataLicensePath, uuids.publishedDataLicenseRestrictAUuid, uuids.licenseRestrictMetadataQUuid]|reply_path -%}
                        {%- set licenseRestrictMetadataAUuid = repliesMap[licenseRestrictMetadataPath]|reply_str_value %}

                        Available under some restrictions, which we will follow in our project{{ ": " ~ licenseRestrictConditions|dot if licenseRestrictConditions else "." }}
                        {%- if licenseRestrictAccessAUuid == uuids.licenseRestrictAccessRequestAUuid %}
                          Re-users will be able to get access by request to the contact person.
                        {%- elif licenseRestrictAccessAUuid == uuids.licenseRestrictAccessCommitteeAUuid %}
                          Re-users will be able to get access through a <em>Data Access Committee</em> for the project.
                        {%- elif licenseRestrictAccessAUuid == uuids.licenseRestrictAccessAnotherAUuid -%}
                          {%- set licenseRestrictAccessAnotherPath = [licenseRestrictAccessPath, uuids.licenseRestrictAccessAnotherAUuid, uuids.licenseRestrictAccessAnotherQUuid]|reply_path -%}
                          {%- set licenseRestrictAccessAnother = repliesMap[licenseRestrictAccessAnotherPath]|reply_str_value %}
                          Re-users will be able to get access through a specialized process{{ ": " ~ licenseRestrictAccessAnother|dot if licenseRestrictAccessAnother else "." }}
                        {%- endif -%}
                        {%- if licenseRestrictMetadataAUuid == uuids.licenseRestrictMetadataYesAUuid %}
                          The conditions will be published as part of open metadata.
                        {%- endif -%}
                        {% if licenseRestrictLink %}
                          More infomation about the restrictions can be found here: <a href="{{ licenseRestrictLink }}">{{ licenseRestrictLink }}</a>.
                        {% endif %}
                      {%- endif -%}
                      </li>
                    {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  </li>
                {%- endif -%}
              {%- endfor -%}
              </ul>
            {%- endif -%}
            {# Catalogue #}
            {%- set publishedDataCataloguePath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedDataCatalogueQUuid]|reply_path -%}
            {%- set publishedDataCatalogueAUuid = repliesMap[publishedDataCataloguePath]|reply_str_value -%}
            {%- if publishedDataCatalogueAUuid == uuids.publishedDataCatalogueYesAUuid -%}
              <br>We will be adding a reference to the published data to at least one data catalogue.
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}

    <p>Information about used repositories (i.e. where will potential users find out about the data) is provided in Section E, Question 12.</p>

    <p>Embargo on the data is described in Section D, Question 8, and Section E, Question 10.</p>

    {# Published software #}
    {%- set publishedSWPath = [uuids.preservingCUuid, uuids.publishedSWQUuid]|reply_path -%}
    {%- set publishedSWCount = repliesMap[publishedSWPath]|reply_int_value -%}
    {%- if publishedSWCount > 0 -%}
      <ul>
      {%- for i in range(publishedSWCount) -%}
        {%- set pathPrefix = [publishedSWPath, i]|reply_path -%}
        {%- set publishedSWName = repliesMap[[pathPrefix, uuids.publishedSWNameQUuid]|reply_path]|reply_str_value -%}
        {%- set publishedSWLicensePath = [pathPrefix, uuids.publishedSWLicenseQUuid]|reply_path -%}
        {%- set publishedSWLicenseAUuid = repliesMap[publishedSWLicensePath]|reply_str_value -%}
        {%- set publishedSWDOIPath = [pathPrefix, uuids.publishedSWDOIQUuid]|reply_path -%}
        {%- set publishedSWDOIAUuid = repliesMap[publishedSWDOIPath]|reply_str_value -%}
        {%- if publishedSWLicenseAUuid or (publishedSWDOIAUuid == uuids.publishedSWDOIYesAUuid) -%}
          <li>
            <strong>{{ publishedSWName if publishedSWName else "(no name given)" }}</strong>
            {%- if publishedSWLicenseAUuid == uuids.publishedSWLicenseYesAUuid -%}
              {%- set publishedSWLicenseWhichPath = [publishedSWLicensePath, uuids.publishedSWLicenseYesAUuid, uuids.publishedSWLicenseYesQUuid]|reply_path -%}
              {%- set publishedSWLicenseWhichAUuid = repliesMap[publishedSWLicenseWhichPath]|reply_str_value -%}
                {%- if publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseGnuAUuid %}
                  <span class="separator">&ndash;</span> GNU license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseMITAUuid %}
                  <span class="separator">&ndash;</span> MIT license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseApacheAUuid %}
                  <span class="separator">&ndash;</span> Apache license.
                {%- elif publishedSWLicenseWhichAUuid == uuids.publishedSWLicenseOtherAUuid %}
                  {%- set publishedSWLicenseWhichOtherPath = [publishedSWLicenseWhichPath, uuids.publishedSWLicenseOtherAUuid, uuids.publishedSWLicenseOtherWhichQUuid]|reply_path -%}
                  {%- set publishedSWLicenseWhichOther = repliesMap[publishedSWLicenseWhichOtherPath]|reply_str_value -%}
                  {%- if publishedSWLicenseWhichOther %}
                    <span class="separator">&ndash;</span> license: {{publishedSWLicenseWhichOther|dot}}
                  {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            {%- if publishedDataDOIAUuid == uuids.publishedDataDOIYesAUuid -%}
              {%- set publishedDataDOIYesWhatPath = [publishedDataDOIPath, uuids.publishedDataDOIYesAUuid, uuids.publishedDataDOIYesWhatQUuid]|reply_path -%}
              {%- set publishedDataDOIYesWhat = repliesMap[publishedDataDOIYesWhatPath]|reply_str_value -%}
              {%- if publishedDataDOIYesWhat %}
                The DOI for this data set is <a href="https://doi.org/{{ publishedDataDOIYesWhat }}" target="_blank">{{ publishedDataDOIYesWhat }}</a>.
              {%- else %}
                We will get a DOI for this data set.
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>
