<div id="q-required-resources" class="question">
  <h3>14. What resources will you require to deliver your plan?</h3>

  <div class="answer">
    {# additional expertise #}
    {%- set expertisePath = [uuids.adminDetailsCUuid, uuids.additionalExpertiseQUuid]|reply_path -%}
    {%- set expertiseAUuid = repliesMap[expertisePath]|reply_str_value -%}
    {%- if expertiseAUuid == uuids.additionalExpertiseNoAUuid -%}
      <p>To execute the DMP, no additional specialist expertise is required.</p>
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesTrainAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be training existing staff.
        {%- set expertiseTrainPath = [expertisePath, uuids.additionalExpertiseYesTrainAUuid, uuids.additionalExpertiseYesTrainTrainingQUuid]|reply_path -%}
        {%- set expertiseTrainText = repliesMap[expertiseTrainPath]|reply_str_value -%}
        {%- if additionalExpertiseTrainText %}
          The training will be: {{ expertiseTrainText|dot }}
        {%- endif -%}
      </p>
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesHireAUuid -%}
      <p>
        To execute the DMP, additional specialist expertise is required. We will be hiring new people with additional expertise.
        {%- set expertiseHirePath = [expertisePath, uuids.additionalExpertiseYesHireAUuid, uuids.additionalExpertiseYesHireExpertiseQUuid]|reply_path -%}
        {%- set expertiseHireText = repliesMap[expertiseHirePath]|reply_str_value -%}
        {%- if expertiseHireText %}
          The required expertise from new people is: {{ expertiseHireText|dot }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {# additional hw/sw #}
    {%- set additionalHWSWPath = [uuids.adminDetailsCUuid, uuids.additionalHWSWQUuid]|reply_path -%}
    {%- set additionalHWSWAUuid = repliesMap[additionalHWSWPath]|reply_str_value -%}
    {%- if additionalHWSWAUuid == uuids.additionalHWSWNoAUuid -%}
      <p>We do not require any hardware or software in addition to what is usually available in the institute.</p>
    {%- elif additionalHWSWAUuid == uuids.additionalHWSWYesAUuid -%}
      {%- set additionalHWSWWhatPath = [additionalHWSWPath, uuids.additionalHWSWYesAUuid, uuids.additionalHWSWYesWhatQUuid]|reply_path -%}
      {%- set additionalHWSWWhat = repliesMap[additionalHWSWWhatPath]|reply_str_value -%}
      {%- if additionalHWSWWhat -%}
        <p>We require the following hardware or software in addition to what is usually available in the institute: {{ additionalHWSWWhat|dot }}</p>
      {%- else -%}
        <p>We require hardware or software in addition to what is usually available in the institute.</p>
      {%- endif -%}
    {%- endif -%}
    {# charges #}
    <p>Charges applied by data repositories (if any) are mentioned already in Section E, Question 12.</p>
  </div>
</div>
