<div id="q-how-data" class="question">
  <h3>2. How will the data be collected or created?</h3>

  <div class="answer">
  {# Measured datasets #}
  {%- set measuredDataPath = [uuids.creatingCUuid, uuids.measuredDataQUuid]|reply_path -%}
  {%- set measuredDataCount = repliesMap[measuredDataPath]|reply_int_value -%}
  {%- if measuredDataCount > 0 -%}
    <h4>Instrument datasets</h4>
    <ul>
      {%- for datasetIndex in range(measuredDataCount) -%}
        {%- set pathPrefix = [measuredDataPath, datasetIndex]|reply_path -%}
        <li>
          {%- set measuredDataNamePath = [pathPrefix, uuids.measuredDataNameQUuid]|reply_path -%}
          {%- set measuredDataName = repliesMap[measuredDataNamePath]|reply_str_value -%}
          <strong>{{ measuredDataName if measuredDataName else "(no name given)" }}</strong>
          {# Instruments #}
          {%- set measuredDataInstrPath = [pathPrefix, uuids.measuredDataInstrQUuid]|reply_path -%}
          {%- set measuredDataInstrCount = repliesMap[measuredDataInstrPath]|reply_int_value -%}
          {%- if measuredDataInstrCount > 0 -%}
            <p>For this dataset, we are using the following instruments:
            <ul>
              {%- for instrIndex in range(measuredDataInstrCount) -%}
                {%- set instrPathPrefix = [measuredDataInstrPath, instrIndex]|reply_path -%}
                <li>
                  {%- set measuredDataInstrNamePath = [instrPathPrefix, uuids.measuredDataInstrNameQUuid]|reply_path -%}
                  {%- set measuredDataInstrName = repliesMap[measuredDataInstrNamePath]|reply_str_value -%}
                  {%- set measuredDataInstrDescPath = [instrPathPrefix, uuids.measuredDataInstrDescQUuid]|reply_path -%}
                  {%- set measuredDataInstrDesc = repliesMap[measuredDataInstrDescPath]|reply_str_value -%}
                  <strong>{{ measuredDataInstrName.value if (measuredDataInstrName and measuredDataInstrName.value)  else "(no name given)" }}</strong>
                  {% if measuredDataInstrName and measuredDataInstrDesc -%}<span class="separator">&ndash;</span>{%- endif %}
                  {{ measuredDataInstrDesc }}
                </li>
              {%- endfor -%}
            </ul>
            </p>
          {%- else -%}
            <p>No instruments for this dataset have been specified.</p>
          {%- endif -%}
      {%- endfor -%}
  {%- else -%}
    There will be no instrument dataset in this project.
  {%- endif -%}
  {# Storage and file conventions #}
  {%- set storageOrganizePath = [uuids.storageCUuid, uuids.storageOrganizeQUuid]|reply_path -%}
  {%- set storageOrganizeAUuid = repliesMap[storageOrganizePath]|reply_str_value -%}
  {%- if storageOrganizeAUuid -%}
    <h4>Storage and file conventions</h4>
    <p>
      {%- if storageOrganizeAUuid == uuids.storOrgSubjFoldersAUuid -%}
        {%- set storOrgSubjFoldersPath = [storageOrganizePath, uuids.storOrgSubjFoldersAUuid]|reply_path -%}
        {%- set storOrgSubjFoldersConvs = repliesMap[[storOrgSubjFoldersPath, uuids.storOrgSubjFoldersConvsQUuid]|reply_path]|reply_str_value -%}
          There will be a <strong>folder for each sample/subject</strong>.
          {% if storOrgSubjFoldersConvs %}
            Each of those will use the following naming conventions: {{ storOrgSubjFoldersConvs|dot }}
          {%- endif -%}
      {%- elif storageOrganizeAUuid == uuids.storOrgAnalysisFoldersAUuid -%}
        {%- set storOrgAnalysisFoldersPath = [storageOrganizePath, uuids.storOrgAnalysisFoldersAUuid]|reply_path -%}
        {%- set storOrgAnalysisFoldersConvs = repliesMap[[storOrgAnalysisFoldersPath, uuids.storOrgAnalysisFoldersConvsQUuid]|reply_path]|reply_str_value -%}
          There will be a <strong>folder for each sample/subject</strong>.
          {% if storOrgAnalysisFoldersConvs %}
            Each of those will use the following naming conventions: {{ storOrgAnalysisFoldersConvs|dot }}
          {%- endif -%}
      {%- elif storageOrganizeAUuid == uuids.storOrgWorkflowStepFoldersAUuid -%}
        {%- set storOrgWorkflowStepFoldersPath = [storageOrganizePath, uuids.storOrgWorkflowStepFoldersAUuid]|reply_path -%}
        {%- set storOrgWorkflowStepFoldersConvs = repliesMap[[storOrgWorkflowStepFoldersPath, uuids.storOrgWorkflowStepFoldersConvsQUuid]|reply_path]|reply_str_value -%}
          There will be a <strong>folder for each sample/subject</strong>.
          {% if storOrgWorkflowStepFoldersConvs %}
            Each of those will use the following naming conventions: {{ storOrgWorkflowStepFoldersConvs|dot }}
          {%- endif -%}
      {%- endif -%}
    </p>
    {# File naming conventions #}
    {#   {%- set storageOrganizePath = [uuids.storageCUuid, uuids.storageOrganizeQUuid]|reply_path -%}
      {%- set storageOrganizeAUuid = repliesMap[storageOrganizePath]|reply_str_value -%} #}
    {%- set storOrgFileConvsPath = [uuids.storageCUuid, uuids.storOrgFilesConvsQUuid]|reply_path -%}
    {%- set storOrgFileConvs = repliesMap[storOrgFileConvsPath]|reply_str_value -%}
    {%- if storOrgFileConvs %}
    <p>
      We have made the following decisions about naming the files: {{ storOrgFileConvs }}
    </p>
    {%- endif -%}
  {%- endif -%}
  </div>
</div>
