<div id="q-store-backup" class="question">
  <h3>5. How will the data be stored and backed up during the research?</h3>
  <div class="answer">
    {# Data stored by members (no shared workspace) #}
    {%- set sharedWorkspacePath = [uuids.storageCUuid, uuids.sharedWorkspaceQUuid]|reply_path -%}
    {%- set sharedWorkspaceAUuid = repliesMap[sharedWorkspacePath]|reply_str_value -%}
    {%- if sharedWorkspaceAUuid == uuids.sharedWorkspaceNoAUuid -%}
      {%- set notSharedBackupPath = [sharedWorkspacePath, uuids.sharedWorkspaceNoAUuid, uuids.notSharedBackupQUuid]|reply_path -%}
      {%- set notSharedBackupAUuid = repliesMap[notSharedBackupPath]|reply_str_value -%}
      {%- if notSharedBackupAUuid == uuids.notSharedBackupYesAUuid -%}
        <p>Data that project members themselves store adequately backed up and traceable. Therefore data are protected against both equipment failure and human error.</p>
      {%- endif -%}
    {%- elif sharedWorkspaceAUuid == uuids.sharedWorkspaceYesAUuid -%}
      {%- set sharedWherePath = [sharedWorkspacePath, uuids.sharedWorkspaceYesAUuid, uuids.sharedWhereQUuid]|reply_path -%}
      {%- set sharedWhereAUuid = repliesMap[sharedWherePath]|reply_str_value -%}
      {%- if sharedWhereAUuid == uuids.sharedWhereSNICAUuid -%}
        <p>
        {%- set sharedWhereSNICPath = [sharedWherePath, uuids.sharedWhereSNICAUuid]|reply_path -%}
        {%- set sharedWhereSNICWhichPath = [sharedWhereSNICPath, uuids.sharedWhereSNICwhichQUuid]|reply_path -%}
        {%- set sharedWhereSNICWhichAUuid = repliesMap[sharedWhereSNICWhichPath]|reply_str_value -%}
        {%- if sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichUppmaxAUuid -%}
          Data will be stored at SNIC center Uppmax.
        {%- elif sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichPDCAUuid-%}
          Data will be stored at SNIC center PDC.
        {%- elif sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichNSCAUuid-%}
          Data will be stored at SNIC center NSC.
        {%- elif sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichLunarcAUuid-%}
          Data will be stored at SNIC center Lunarc.
        {%- elif sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichHPC2NAUuid-%}
          Data will be stored at SNIC center HPC2N.
        {%- elif sharedWhereSNICWhichAUuid == uuids.sharedWhereSNICwhichC3SEAUuid-%}
          Data will be stored at SNIC center C3CSE.
        {%- endif -%}
        {# necessary software is not written #}
        {%- set sharedWhereSNICSWPath = [sharedWhereSNICPath, uuids.sharedWhereSNICSWQUuid]|reply_path -%}
        {%- set sharedWhereSNICSWAUuid = repliesMap[sharedWhereSNICSWPath]|reply_str_value -%}
        {%- if sharedWhereSNICSWAUuid == uuids.sharedWhereSNICSWInstalledYesAUuid -%}
          All necessary software is already installed.
        {%- elif sharedWhereSNICSWAUuid == uuids.sharedWhereSNICSWInstalledNeedAUuid -%}
          {%- set sharedWhereSNICSWInstNeedPath = [sharedWhereSNICSWPath, uuids.sharedWhereSNICSWInstalledNeedAUuid, uuids.sharedWhereSNICSWInstalledNeedQUuid]|reply_path -%}
          {%- set sharedWhereSNICSWInstNeedAUuid = repliesMap[sharedWhereSNICSWInstNeedPath]|reply_str_value -%}
          {%- if sharedWhereSNICSWInstNeedAUuid -%}
              The following software needs to be installed: {{ sharedWhereSNICSWInstNeedAUuid|dot " " }}
          {%- else -%}
            Some software needs to be installed.
          {%- endif -%}
        {%- elif sharedWhereSNICSWAUuid == uuids.sharedWhereSNICSWInstalledNoAUuid -%}
          No special software or tool is needed.
        {%- endif -%}
        {%- set sharedWhereSNICApplyPath = [sharedWhereSNICPath, uuids.sharedWhereSNICApplyQUuid]|reply_path -%}
        {%- set sharedWhereSNICApplyAUuid = repliesMap[sharedWhereSNICApplyPath]|reply_str_value -%}
        {%- if sharedWhereSNICApplyAUuid == uuids.sharedWhereSNICApplyDoneAUuid -%}
           We have already applied for a project.
        {%- elif sharedWhereSNICApplyAUuid == uuids.sharedWhereSNICApplyWillAUuid -%}
           An application for project time will be made.
        {%- endif -%}
      </p> {# if this results in no spece btw list of software and application sentence, move </p> up #}
      {%- elif sharedWhereAUuid == uuids.sharedWhereOwnAUuid -%}
        <p> The project will be stored at our own backed-up network system. </p>
      {%- elif sharedWhereAUuid == uuids.sharedWhereOtherAUuid -%}
        {%- set sharedWhereOtherPath = [sharedWherePath, uuids.sharedWhereOtherAUuid, uuids.sharedWhereOtherQUuid]|reply_path -%}
        {%- set sharedWhereOther = repliesMap[sharedWhereOtherPath]|reply_str_value -%}
        <p> Project storage and back-up: {{sharedWhereOther}} </p>
      {%- endif -%}
      {%- set sharedReliablePath = [sharedWorkspacePath, uuids.sharedWorkspaceYesAUuid, uuids.sharedReliableQUuid]|reply_path -%}
      {%- set sharedReliableAUuid = repliesMap[sharedReliablePath]|reply_str_value -%}
      {%- if sharedReliableAUuid == uuids.sharedReliableExploreAUuid -%}
        {%- set sharedReliablePreventLossPath = [sharedReliablePath, uuids.sharedReliableExploreAUuid, uuids.sharedReliablePreventLossQUuid]|reply_path -%}
        {%- set sharedReliablePreventLossAUuid = repliesMap[sharedReliablePreventLossPath]|reply_str_value -%}
        {%- set sharedReliableBackupPath = [sharedReliablePath, uuids.sharedReliableExploreAUuid, uuids.sharedReliableBackupQUuid]|reply_path -%}
        {%- set sharedReliableBackupAUuid = repliesMap[sharedReliableBackupPath]|reply_str_value -%}
        {%- if sharedReliablePreventLossAUuid or sharedReliableBackupAUuid -%}
          <p>
          {%- if sharedReliablePreventLossAUuid == uuids.sharedReliablePreventLossSufficientAUuid %}
            The work space provides sufficient guarantees in terms of preventing a total loss of data.
          {%- elif sharedReliablePreventLossAUuid == uuids.sharedReliablePreventLossStoredAUuid %}
            All essential data is also stored elsewhere to prevent a total loss of data.
          {%- endif -%}
          {%- if sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyLeftAUuid %}
            Backup of project data that is not in the work space is left to the project participants.
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyNoDataAUuid %}
            Data is stored only in the work space, therefore additional backup copies of files outside work space are necessary.</p>
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyAllSomewhereAUuid %}
            All project data stored outside of the working area will be adequately backed up.
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyBackupsAUuid %}
            We will make (automated) backups of all data stored outside of the working area.
          {%- endif -%}
          </p>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </div>

</div>
