<div id="q-dm-responsible" class="question">
  <h3>13. Who will be responsible for data management?</h3>

  <div class="answer">
    {# NOTE: Public questionnaires does not have "ctx.createdBy" filled #}
    {%- if ctx.createdBy %}
      <p>{{ctx.createdBy.firstName}} {{ctx.createdBy.lastName}} is responsible for implementing the DMP, and ensuring it is reviewed and revised.</p>
    {%- endif -%}

    {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
    {%- set contributorsReply = repliesMap[contributorsPath] -%}
    {%- if contributorsReply -%}
      {%- macro contributorsResponsibility(nContributors, contributorRoleAUuid, responsibility) -%}
        {%- set names = [] -%}
        {%- for i in range(nContributors) -%}
          {%- set role = repliesMap[[contributorsPath, i, uuids.contributorRoleQUuid]|reply_path]|reply_str_value -%}
          {%- set name = repliesMap[[contributorsPath, i, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
          {%- if role == contributorRoleAUuid and name -%}
            {%- do names.append(name) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- set nNames = names|length -%}
        {%- if nNames > 0 -%}
          <p>
            {%- if nNames > 2 -%}
              {{ names[0:-1]|join(", ") }}, and {{ names[-1] }} are {{ responsibility }}
            {%- elif nNames == 2 -%}
              {{ names[0] }} and {{ names[1] }} are {{ responsibility }}
            {%- else -%}
              {{ names[0] }} is {{ responsibility }}
            {%- endif %}
          </p>
        {%- endif -%}
      {%- endmacro -%}

      {%- set nContributors = contributorsReply.value.value -%}
      {# Data curators #}
      {{ contributorsResponsibility(nContributors, uuids.contributorRoleDataCuratorAUuid, "responsible for reviewing, enhancing, cleaning, or standardizing metadata and the associated data submitted for storage, use and maintenance within a data centre or repository.") }}
      {# Data collectors #}
      {{ contributorsResponsibility(nContributors, uuids.contributorRoleDataCollectorAUuid, "responsible for finding, gathering, and collecting data.") }}
      {# Data managers #}
      {{ contributorsResponsibility(nContributors, uuids.contributorRoleDataManagerAUuid, "responsible for maintaining the finished resource.") }}
    {%- endif -%}
  </div>
</div>
