<header>
  <p class="dmp"></p>
  <h1>
    {{ ctx.questionnaireName }}
  </h1>
  <div>
    <dl>
      {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
      {%- set nContributors = repliesMap[contributorsPath]|reply_int_value -%}
      {%- if nContributors > 0 -%}
        <dt>{{ "Contributors" if (nContributors > 1) else "Contributor" }}</dt>
        <dd>
        <ul>
        {%- for i in range(nContributors) -%}
          {%- set pathPrefix = [contributorsPath, i]|reply_path -%}
          <li>
            {%- set contributorName = repliesMap[[pathPrefix, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
            {%- set contributorEmail = repliesMap[[pathPrefix,  uuids.contributorEmailQUuid]|reply_path]|reply_str_value -%}
            {%- set contributorOrcid = repliesMap[[pathPrefix,  uuids.contributorOrcidQUuid]|reply_path]|reply_str_value -%}
            {%- if contributorName -%}
              <span class="contact-name">{{ contributorName }}</span>
            {%- else -%}
              <span class="contact-name missing">(name not given)</span>
            {%- endif -%}
            {%- if contributorEmail and contributorOrcid %}
              ({{ macros.formatEmail(contributorEmail) }}, {{ macros.formatOrcid(contributorOrcid) }}),
            {%- elif contributorEmail %}
              ({{ macros.formatEmail(contributorEmail) }}),
            {%- elif contributorOrcid %}
              ({{ macros.formatOrcid(contributorOrcid) }}),
            {%- endif -%}
            {%- set contributorAffiliationPath = [pathPrefix,uuids.contributorAffiliationQUuid]|reply_path -%}
            {%- set contributorAffiliationAUuid = repliesMap[contributorAffiliationPath]|reply_str_value -%}
            {%- if contributorAffiliationAUuid -%}
              {%- if contributorAffiliationAUuid == uuids.contributorAffiliationKIAUuid %}
                Karolinska institutet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationUUAUuid %}
                Uppsala universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationLUAUuid %}
                Lunds universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationGUAUuid %}
                Göteborgs universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationUmUAUuid %}
                Umeå universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationSLUAUuid %}
                Sveriges lantbruksuniversitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationSUAUuid %}
                Stockholms universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationKTHAUuid %}
                Kungliga tekniska högskolan
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationLiUAUuid %}
                Linköpings universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationChaAUuid %}
                Chalmers
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationOtherAUuid %}
                {%- set contributorAffiliationOtherPath = [contributorAffiliationPath, uuids.contributorAffiliationOtherAUuid, uuids.contributorAffiliationOtherQUuid]|reply_path -%}
                {%- set contributorAffiliationOtherWhichAUuid = repliesMap[contributorAffiliationOtherPath]|reply_str_value -%}
                {%- if contributorAffiliationOtherWhichAUuid %}
                  {{ contributorAffiliationOtherWhichAUuid }}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
             {# Roles #}
            {%- set rolePath = [pathPrefix, uuids.contributorAddRoleQUuid]|reply_path -%}
            {%- set nRoles = repliesMap[rolePath]|reply_int_value -%}
            {%- if nRoles > 0 %}
              (
              {%- for roleIndex in range(nRoles) -%}
                {%- set roleNamePath = [rolePath, roleIndex, uuids.contributorRoleQUuid]|reply_path -%}
                {%- set roleName = repliesMap[roleNamePath]|reply_str_value -%}
                {%- if roleName == uuids.contributorRolePIAUuid -%}
                  {{ "PI, " if (roleIndex < (nRoles-1)) else "PI)" }}
                {%- elif roleName == uuids.contributorRoleResearcherAUuid -%}
                  {{ "researcher, " if (roleIndex < (nRoles-1)) else "researcher)" }}
                {%- elif roleName == uuids.contributorRoleContactPersonAUuid -%}
                  {{ "<strong>contact person</strong>, " if (roleIndex < (nRoles-1)) else "<strong>contact person</strong>)" }}
                {%- elif roleName == uuids.contributorRoleDataProducerAUuid -%}
                  {{ "data producer, " if (roleIndex < (nRoles-1)) else "data producer)" }}
                {%- elif roleName == uuids.contributorRoleDataCollectorAUuid -%}
                  {{ "data collector, " if (roleIndex < (nRoles-1)) else "data collector)" }}
                {%- elif roleName == uuids.contributorRoleDataCuratorAUuid -%}
                  {{ "data curator, " if (roleIndex < (nRoles-1)) else "data curator)" }}
                {%- elif roleName == uuids.contributorRoleDataManagerAUuid -%}
                  {{ "data manager, " if (roleIndex < (nRoles-1)) else "data manager)" }}
                {%- elif roleName == uuids.contributorRoleOtherAUuid -%}
                  {%- set roleOtherPath = [roleNamePath, uuids.contributorRoleOtherAUuid, uuids.contributorRoleOtherQUuid]|reply_path -%}
                  {%- set roleOtherWhichAUuid = repliesMap[roleOtherPath]|reply_str_value -%}
                  {%- if roleOtherWhichAUuid -%}
                    {{ roleOtherWhichAUuid ~", " if (roleIndex < (nRoles-1)) else roleOtherWhichAUuid ~")" }}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </dd>
    {%- endif -%}

      <dt>Based on</dt>
      <dd>{{ ctx.package.name }}, {{ ctx.package.version }} (<span class="package-id"><span class="organization-id">{{ ctx.package.organizationId }}</span>:<span class="km-id">{{ ctx.package.kmId }}</span>:<span class="version">{{ ctx.package.version }}</span></span>)</dd>
      {%- if ctx.config.levelsEnabled.levelsEnabled -%}
        <dt>Project phase</dt>
        <dd>{{ macros.renderCurrentLevel() }}</dd>
      {%- endif -%}

      {%- if ctx.createdBy -%}
        <dt>Created by</dt>
        <dd><span class="contact-name">{{ ctx.createdBy.firstName }} {{ ctx.createdBy.lastName }}</span> ({{ macros.formatEmail(ctx.createdBy.email) }}){% if ctx.createdBy.affiliation %}<br>{{ ctx.createdBy.affiliation }}{% endif %}</dd>
      {%- endif -%}

      <dt>Generated on</dt>
      <dd>{{ ctx.createdAt|datetime_format("%d %b %Y") }}</dd>
    </dl>
    <p class="dsw">
      Data Management Plan created in Data Stewardship Wizard &laquo;<a href="https://dsw.scilifelab.se" target="_blank">https://dsw.scilifelab.se</a>&raquo;
    </p>
  </div>
</header>
