<header>
  <p class="dmp"></p>
  <h1>
    {{ ctx.questionnaireName }}
  </h1>
  {%- set projectsPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
  {%- set projectsCount = repliesMap[projectsPath]|reply_items -%}
  <div id="dmp-projects">
    <h2>Projects</h2>

    <p>We will be working on the following projects and for those are the data and work described in this DMP.</p>

    {%- for projectIndex in projectsCount -%}
      <div class="project">
      {%- set projectNamePath = [projectsPath, projectIndex, uuids.projectNameQUuid]|reply_path -%}
      {%- set projectName = repliesMap[projectNamePath]|reply_str_value -%}
      {%- if projectName -%}
        <h3>{{ projectName }}</h3>
      {%- else -%}
        <h3 class="empty-value">(project name not given)</h3>
      {%- endif -%}

      {%- set projectAbstractPath = [projectsPath, projectIndex, uuids.projectAbstractQUuid]|reply_path -%}
      {%- set projectAbstract = repliesMap[projectAbstractPath]|reply_str_value -%}
      {%- if projectAbstract %}
        <section class="abstract">
          {%- set paragraphs = projectAbstract.split('\n') -%}
          {% for paragraph in paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </section>
      {%- endif -%}

      {%- set projectStartPath = [projectsPath, projectIndex, uuids.projectStartQUuid]|reply_path -%}
      {%- set projectStart = repliesMap[projectStartPath]|reply_str_value -%}
      {%- set projectEndPath = [projectsPath, projectIndex, uuids.projectEndQUuid]|reply_path -%}
      {%- set projectEnd = repliesMap[projectEndPath]|reply_str_value -%}
      {%- set fundersPath = [projectsPath, projectIndex, uuids.fundersQUuid]|reply_path -%}
      {%- set fundersCount = repliesMap[fundersPath]|reply_items -%}
        <p><strong>Start date: </strong> {{ projectStart if projectStart else "N/A" }}</br>
          <strong>End date: </strong> {{ projectEnd if projectEnd else "N/A" }}
        </p>
        <dl>
          <dt>Funding</dt>
          <dd>
            {%- if fundersCount|length > 0 %}
              <ul>
              {%- for funderIndex in fundersCount %}
                {%- set funderNamePath = [fundersPath, funderIndex, uuids.funderNameQUuid]|reply_path -%}
                {%- set funderNameReply = repliesMap[funderNamePath] -%}
                {%- set grantNumberPath = [fundersPath, funderIndex, uuids.grantNumberQUuid]|reply_path -%}
                {%- set grantNumber = repliesMap[grantNumberPath]|reply_str_value -%}
                {%- set funderStatusPath = [fundersPath, funderIndex, uuids.funderStatusQUuid]|reply_path -%}
                {%- set funderStatus = repliesMap[funderStatusPath]|reply_str_value %}
                <li>{{ macros.integrationValue(funderNameReply, uuids.funderNameQUuid) }}: {{ grantNumber if grantNumber else "grant number not yet given" }} {% if funderStatus == uuids.funderStatusPlannedAUuid %}(planned){% elif funderStatus == uuids.funderStatusAppliedAUuid %}(applied){% elif funderStatus == uuids.funderStatusGrantedAUuid %}(granted){% elif funderStatus == uuids.funderStatusRejectedAUuid %}(rejected){% endif %}</li>
              {%- endfor %}
              </ul>
            {%- else -%}
              Did not apply for any funding yet.
            {%- endif -%}
          </dd>
        </dl>
      </div>
    {% else %}
      <div style="font-style:italic;">There are no projects described for this DMP.</div>
    {% endfor %}
  </div>

  <div>
    <dl>
      {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
      {%- set nContributors = repliesMap[contributorsPath]|reply_items -%}
      {%- if nContributors|length > 0 -%}
        <dt>{{ "Contributors" if (nContributors|length > 1) else "Contributor" }}</dt>
        <dd>
        <ul>
        {%- for i in nContributors -%}
          {%- set pathPrefix = [contributorsPath, i]|reply_path -%}
          <li>
            {%- set contributorName = repliesMap[[pathPrefix, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
            {%- set contributorEmail = repliesMap[[pathPrefix,  uuids.contributorEmailQUuid]|reply_path]|reply_str_value -%}
            {%- set contributorOrcid = repliesMap[[pathPrefix,  uuids.contributorOrcidQUuid]|reply_path]|reply_str_value -%}
            {%- if contributorName -%}
              <span class="contact-name">{{ contributorName }}</span>
            {%- else -%}
              <span class="contact-name missing">(name not given)</span>
            {%- endif -%}
            {%- if contributorEmail and contributorOrcid %}
              ({{ macros.formatEmail(contributorEmail) }}, {{ macros.formatOrcid(contributorOrcid) }}),
            {%- elif contributorEmail %}
              ({{ macros.formatEmail(contributorEmail) }}),
            {%- elif contributorOrcid %}
              ({{ macros.formatOrcid(contributorOrcid) }}),
            {%- endif -%}
            {%- set contributorAffiliationPath = [pathPrefix,uuids.contributorAffiliationQUuid]|reply_path -%}
            {%- set contributorAffiliationAUuid = repliesMap[contributorAffiliationPath]|reply_str_value -%}
            {%- if contributorAffiliationAUuid -%}
              {%- if contributorAffiliationAUuid == uuids.contributorAffiliationKIAUuid %}
                Karolinska institutet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationUUAUuid %}
                Uppsala universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationLUAUuid %}
                Lunds universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationGUAUuid %}
                Göteborgs universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationUmUAUuid %}
                Umeå universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationSLUAUuid %}
                Sveriges lantbruksuniversitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationSUAUuid %}
                Stockholms universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationKTHAUuid %}
                Kungliga tekniska högskolan
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationLiUAUuid %}
                Linköpings universitet
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationChaAUuid %}
                Chalmers
              {%- elif contributorAffiliationAUuid == uuids.contributorAffiliationOtherAUuid %}
                {%- set contributorAffiliationOtherPath = [contributorAffiliationPath, uuids.contributorAffiliationOtherAUuid, uuids.contributorAffiliationOtherQUuid]|reply_path -%}
                {%- set contributorAffiliationOtherWhichAUuid = repliesMap[contributorAffiliationOtherPath]|reply_str_value -%}
                {%- if contributorAffiliationOtherWhichAUuid %}
                  {{ contributorAffiliationOtherWhichAUuid }}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
             {# Roles #}
            {%- set rolePath = [pathPrefix, uuids.contributorAddRoleQUuid]|reply_path -%}
            {%- set nRoles = repliesMap[rolePath]|reply_items -%}
            {%- if nRoles|length > 0 %}
              (
              {%- for roleIndex in nRoles -%}
                {%- set roleNamePath = [rolePath, roleIndex, uuids.contributorRoleQUuid]|reply_path -%}
                {%- set roleName = repliesMap[roleNamePath]|reply_str_value -%}
                {%- if roleName == uuids.contributorRolePIAUuid -%}
                  {{ "PI, " if not loop.last else "PI)" }}
                {%- elif roleName == uuids.contributorRoleResearcherAUuid -%}
                  {{ "researcher, " if not loop.last else "researcher)" }}
                {%- elif roleName == uuids.contributorRoleContactPersonAUuid -%}
                  {{ "<strong>contact person</strong>, " if not loop.last else "<strong>contact person</strong>)" }}
                {%- elif roleName == uuids.contributorRoleDataProducerAUuid -%}
                  {{ "data producer, " if not loop.last else "data producer)" }}
                {%- elif roleName == uuids.contributorRoleDataCollectorAUuid -%}
                  {{ "data collector, " if not loop.last else "data collector)" }}
                {%- elif roleName == uuids.contributorRoleDataCuratorAUuid -%}
                  {{ "data curator, " if not loop.last else "data curator)" }}
                {%- elif roleName == uuids.contributorRoleDataManagerAUuid -%}
                  {{ "data manager, " if not loop.last else "data manager)" }}
                {%- elif roleName == uuids.contributorRoleOtherAUuid -%}
                  {%- set roleOtherPath = [roleNamePath, uuids.contributorRoleOtherAUuid, uuids.contributorRoleOtherQUuid]|reply_path -%}
                  {%- set roleOtherWhichAUuid = repliesMap[roleOtherPath]|reply_str_value -%}
                  {%- if roleOtherWhichAUuid -%}
                    {{ roleOtherWhichAUuid ~", " if not loop.last else roleOtherWhichAUuid ~")" }}
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
        </dd>
      {%- endif -%}
    </dl>
    <p>
      This DMP was created by <span class="contact-name">{{ ctx.createdBy.firstName }} {{ ctx.createdBy.lastName }}</span>
      ({{ macros.formatEmail(ctx.createdBy.email) }}){% if ctx.createdBy.affiliation %}<br>{{ ctx.createdBy.affiliation }}{% endif %}
      on {{ ctx.createdAt|datetime_format("%d %b %Y") }} using Data Stewardship Wizard &laquo;<a href="https://dsw.scilifelab.se" target="_blank">https://dsw.scilifelab.se</a>&raquo;
      , {{ ctx.package.name }}, {{ ctx.package.version }} (<span class="package-id"><span class="organization-id">{{ ctx.package.organizationId }}</span>:<span class="km-id">{{ ctx.package.kmId }}</span>:<span class="version">{{ ctx.package.version }}</span></span>).
    </p>
    {#}  <dt>Based on</dt>
      <dd>{{ ctx.package.name }}, {{ ctx.package.version }} (<span class="package-id"><span class="organization-id">{{ ctx.package.organizationId }}</span>:<span class="km-id">{{ ctx.package.kmId }}</span>:<span class="version">{{ ctx.package.version }}</span></span>)</dd>
      {%- if ctx.config.levelsEnabled.levelsEnabled -%}
        <dt>Project phase</dt>
        <dd>{{ macros.renderCurrentLevel() }}</dd>
      {%- endif -%}

      {%- if ctx.createdBy -%}
        <dt>Created by</dt>
        <dd><span class="contact-name">{{ ctx.createdBy.firstName }} {{ ctx.createdBy.lastName }}</span> ({{ macros.formatEmail(ctx.createdBy.email) }}){% if ctx.createdBy.affiliation %}<br>{{ ctx.createdBy.affiliation }}{% endif %}</dd>
      {%- endif -%}

      <dt>Generated on</dt>
      <dd>{{ ctx.createdAt|datetime_format("%d %b %Y") }}</dd>
    </dl>
    <p class="dsw">
      Data Management Plan created in Data Stewardship Wizard &laquo;<a href="https://dsw.scilifelab.se" target="_blank">https://dsw.scilifelab.se</a>&raquo;
    </p>#}
  </div>
</header>
