<!DOCTYPE HTML>
{%- set km = ctx.knowledgeModel -%}
{%- set replies = ctx.questionnaireReplies -%}
{%- set repliesMap = ctx.questionnaireRepliesMap -%}
{%- set report = ctx.report -%}
{%- set metricDefinitions = ctx.metrics -%}
{%- set levelDefinitions = ctx.levels -%}
{% import "parts/macros.html.j2" as macros with context %}
{% import "parts/uuids.j2" as uuids with context %}
<html lang="en">
  <head>
    <title>Data Management Plan</title>
    <meta charset="utf-8">
    <style>
      {% include "parts/style.css" %}
    </style>
  </head>
  <body>
    <article class="dmp">
      {% include "parts/header.html.j2" with context %}
      {% include "parts/projects.html.j2" with context %}
      {% include "parts/content.html.j2" with context %}
    </article>
  </body>
</html>
